<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <%=title%>
    
             <div>
                 <table border="1px solid black;">
                     <tr>
                         <td>
                             Ticket:
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <div>
                                 <canvas id="canvas">
                                     
                                 </canvas>
                             </div>
                         </td>
                     </tr>
                     <tr>
                         <td>
                             <button id="push">Generar ticket</button>
                             <button id="ok">Ingresar</button>
                             <button id="r">Generar otro ticket</button>
                         </td>
                     </tr>
                 </table>
             </div>

             <script src="queque.js"></script>
    </body>
</html>
