
body{
    background-color: #000;
}

@media screen and (min-width: 800px) {
.canvas{
    width: 450px;
}

#textArea{
    width: 100%;
   
}
.item1{
    float: left;
    margin-left: 2px;
}
.item3{
    display:grid;
    float: left;
    margin-top: 5px;
}

	 #viewT {
        display: grid;
		float:right;
        width: 50%;
	}
.canvas2{
    width: 450px;
}
    
}

